$color: #000;
$color-bg: #fff;

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
  
}

body {
	background: $color-bg;
	color: $color;
	font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
}

input {
  background-image: none;
  border: none;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  transition: all .3s;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login {
	width: 400px;
}

#login h2 {
	background: #f95252;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background: #d4e593;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background: #f3f9dc;
	color: #777;
	padding: 4px 10px;
	width: 100%;
}

#login fieldset input[type="submit"] {
	background: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background: #28ad63;
}

.book {
  animation: stack .3s linear forwards;
  background-color: #E8D8A8;
  border-color: #A0BD92;
  border-width: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 7px;
  border-top-left-radius: 5px;  
  border-right-color: white;
  border-style: solid;
  box-shadow: inset 5px 3px 10px -5px #444;
  height: 33px;
  position: relative;
  opacity: 0;
  width: 200px;
  
  &:before, &:after {
    border-bottom: 3px solid darken(#E8D8A8, 9%);
    border-top: 3px solid darken(#E8D8A8, 9%);
    content: "";
    height: 3px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 95%;
  }
  
  &:after {
    bottom: 5px;
    top: auto;
  }
}

.book:nth-of-type(1) {
  animation-delay: 4s;
}

.book:nth-of-type(2) {
	animation-delay: 3s;
  border-color: #ffae3d;
  border-left-color: white;
  background-color: lighten(#E8D8A8, 3%);  
  box-shadow: inset -5px 3px 10px -5px #444;
  margin-left: 3em;
}
.book:nth-of-type(3) {
  animation-delay: 2s;
  background-color: #e2624f;
  border-color: #e2624f;
  box-shadow: none;
  border-radius: 4px;
  height: 18px;
  margin-left: 3em;
  
  &:before { position: static;  }
  &:after {
    position: static;
    border: none;
  }
}

.book:nth-of-type(4) {
  animation-delay: 1s;
  border-color: #455971;
  border-right-color: white;
  height: 22px;
  margin-left: -1em;
}

.book:nth-of-type(5) {
  animation-delay: 0s;
  margin-left: 2em;
  opacity: 1;
}


@keyframes stack {

  100% {
    	margin-left: 1em;
      opacity: 1;
    }
  
}